$bg-color: rgb(226, 226, 226);
$blue-color: rgb(38, 150, 255);

*{
    margin: 0;
    padding: 0;
    background-color: $bg-color;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: white;
    margin-top: 100px;
    height: 350px;
    .error{
        color: red;
        text-align: center;
        background-color: white;
    }
    h1{
        padding-top: 30px;
        text-align: center;
        background-color: white;
    }
    p{
        text-align: center;
        background-color: white;
        margin-bottom: 20px;
        margin-top: 10px;
        a{
            background-color: white;
            text-decoration: underline;
            font-weight: 900;
            cursor: pointer
        }
    }
    input{
        width: 400px;
        height: 35px;
        margin: 5px;
        margin-left: 40px;
        border: 1px solid grey;
        background-color: white;
    }
    button{
        width: 400px;
        height: 35px;
        margin: 5px;
        margin-left: 40px;
        border: none;
        background-color: $blue-color;
        color: white;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 30px;
        cursor: pointer
    }
}